/*font-family: 'Lora', serif;
font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

html, body {

	font-family: 'Roboto', sans-serif;
	padding: 5rem;
}

.container {
	position: relative;
	height: 150px;
}
